*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    background-color: goldenrod;
}
.mainComponent{
    display: flex;
    background-color: aquamarine;
}
.navComponent{
    flex: 0.15;
    background-color: blue;
}
.tweetComponent{
    flex: 0.60;
    background-color: pink;
}

.trendComponent{
    flex: 0.25;
    background-color: brown;
}

.btn{
    display: flex;
    list-style: none;
}

.inner-btn{
     list-style: none;
     display: flex;

}